html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  margin-left: 20px;
}

nav a {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #a73121;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #fff;
  background-color: #a73121;
  border-radius: 5px;
}

nav a:active {
  font-size: 18px;
}

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-content {
  text-align: left;
  max-width: 400px;
  margin-left: 30px;
  color: #a73121;
}

.image {
  position: relative;
  display: inline-block;
  margin-right: 150px;
}

.image img {
  height: 300px;
  width: auto;
  border-radius: 150px;
  box-shadow: 1px 2px 10px 1px #aaaaaa;
}

.red-box {
  border-radius: 100px;
  width: 370px;
  height: 100vh;
  background-color: #fff3e2;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

#about {
  background-color: #fff3e2;
  padding: 50px 0;
}

.about-content {
  background-color: white;
  border-radius: 20px;
  width: 30%;
  max-width: 800px;
  margin: 0 auto 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #a73121;
  font-size: 2rem;
  line-height: 1.6;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.text-one {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 100%;
  max-width: 800px;
}

.text-one img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-one p {
  color: #555;
  line-height: 1.8;
}

.text-one:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

#goals {
  height: 100vh;
  width: 100%;
  display: inline-block;
}

.goals-content {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  max-width: 800px;
  margin: 0 auto 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #a73121;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 80px;
}

.goal-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.goal-box {
  width: 300px;
  background-color: #fff5e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.goal-box h2 {
  color: #a73121;
}

.goal-box p {
  color: #555;
}

.goal-box:hover {
  transform: translateY(-5px);
  background-color: #fff;
}

#years {
  background-color: #fff3e2;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.years-content {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  max-width: 800px;
  margin: 0 auto 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #a73121;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 70px;
}

.essay-content {
  max-width: 800px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: justify;
  color: #555;
  line-height: 1.6;
}

#works {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.works-content {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  max-width: 800px;
  margin: 0 auto 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #a73121;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 70px;
}

.works-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.works-box {
  width: 300px;
  height: auto;
  background-color: #fff5e0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.works-text {
  padding: 20px 0;
}

.works-text h2 {
  color: #a73121;
}

.works-text p {
  color: #555;
}

.works-footer {
  margin-top: 50px;
}

.works-footer p {
  color: #a73121;
  font-size: 1.2rem;
}

.works-box:hover {
  transform: translateY(-5px);
  background-color: #fff;
}

#footer {
  background-color: #fff3e2;
  color: #a73121;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.social {
  margin-top: 10px;
}

.social a {
  display: inline-block;
  margin: 0 10px;
}

.social img {
  width: 30px;
  height: auto;
}

.social a:hover {
  transform: scale(1.2);
}
